<!--// Contact Section Start //-->
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;
@* @using AspNetCore.ReCaptcha; *@
@model ContactMunVM
<section class="section bg-primary-light" id="contact" data-scroll-index="7">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-heading">
                    <h2>@Localizer["ContactAmana"]</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="contact-info-item">
                    <div class="icon">
                        <span class="fa fa-map-marker-alt"></span>
                    </div>
                    <div class="body">
                        <h5>@Localizer["Address"]</h5>
                        <p>@Localizer["AddressDescr"]
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="contact-info-item">
                    <div class="icon">
                        <span class="fas fa-envelope-open-text"></span>
                    </div>
                    <div class="body">
                        <h5>@Localizer["EmailAndPhone"]</h5>
                        <p>@Localizer["EmailDescr"]</p>
                        <p>@Localizer["PhoneDescr"]</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="contact-form-wrap">
                    <form id="ContactUsForm" action="/contactus/contactamana">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="contact-form-group custom-select-wrapper">
                                    <select data-val-re name="contactReason" class="form-control" id="contactReason">
                                        <option value=''>@Localizer["Issue"]</option>
                                        <option value='إقتراح'>@Localizer["Suggest"]</option>
                                        <option value='شكوى'>@Localizer["Compl"]</option>
                                        <option value='أخرى'>@Localizer["Other"]</option>
                                    </select>
                                </div>
                                 <div class="text-danger">
                                   <span id="contactReasonError"></span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="contact-form-group">
                                    @Html.TextAreaFor(m=>m.message,8,20,new{@class="form-control"})
                                    <div class="text-danger">
                                        @Html.ValidationMessageFor(m=>m.message)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <hr>
                                <p>@Localizer["ContactInfo"]</p>
                                <hr>
                            </div>
                            <div class="col-md-6">
                                <div class="contact-form-group">
                                    @Html.TextBoxFor(m=>m.name,new{@class="form-control"})
                                    <div class="text-danger">
                                        @Html.ValidationMessageFor(m=>m.name)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="contact-form-group">
                                    @Html.TextBoxFor(m=>m.phoneNumber,new{@class="form-control"})
                                    <div class="text-danger">
                                        @Html.ValidationMessageFor(m=>m.phoneNumber)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="contact-form-group">
                                    @Html.TextBoxFor(m=>m.email,new{@class="form-control"})
                                    <div class="text-danger">
                                        @Html.ValidationMessageFor(m=>m.email)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-12">
                                @Html.AntiForgeryToken()
                                @* @Html.ReCaptcha() *@
                                 <input type="hidden" name="captcha" id="captchaInput" />
                            </div>
                            <div class="col-12">
                                <span id="errorMessages" class="text-danger"></span>
                            </div>
                            <div class="col-md-12" style="text-align: end;">
                                <div class="contact-btn-left">
                                    <button type="submit" id="contactBtn" class="primary-btn">
                                        <span class="text">@Localizer["BtnSend"]</span>
                                        <span class="icon"><i class="fa fa-arrow-right"></i></span>
                                    </button>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--// Contact Section End //-->

