<!--// Contact Section Start //-->
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;
@using AspNetCore.ReCaptcha;
@model ContactMunVM
<section class="section bg-primary-light" id="contact" data-scroll-index="7">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-heading">
                    <h2>@Localizer["ContactAmana"]</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="contact-info-item">
                    <div class="icon">
                        <span class="fa fa-map-marker-alt"></span>
                    </div>
                    <div class="body">
                        <h5>@Localizer["Address"]</h5>
                        <p>@Localizer["AddressDescr"]
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="contact-info-item">
                    <div class="icon">
                        <span class="fas fa-envelope-open-text"></span>
                    </div>
                    <div class="body">
                        <h5>@Localizer["EmailAndPhone"]</h5>
                        <p>@Localizer["EmailDescr"]</p>
                        <p>@Localizer["PhoneDescr"]</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="contact-form-wrap">
                    <form id="contactForm" action="/contactus/contactamana">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="contact-form-group custom-select-wrapper">
                                    <select name="contact_subject" class="form-control" id="contactSubject">
                                        <option value="Please Select">@Localizer["Issue"]</option>
                                        <option value="Sales">@Localizer["Suggest"]</option>
                                        <option value="Services">@Localizer["Compl"]</option>
                                        <option value="Support">@Localizer["Other"]</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="contact-form-group">
                                    @Html.TextAreaFor(m=>m.message,8,20,new{@class="form-control"})
                                    <div class="form-validate-icons">
                                        @Html.ValidationMessageFor(m=>m.message)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <hr>
                                <p>@Localizer["ContactInfo"]</p>
                                <hr>
                            </div>
                            <div class="col-md-6">
                                <div class="contact-form-group">
                                    @Html.TextBoxFor(m=>m.name,new{@class="form-control"})
                                    <div class="form-validate-icons">
                                        @Html.ValidationMessageFor(m=>m.name)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="contact-form-group">
                                    @Html.TextBoxFor(m=>m.phoneNumber,new{@class="form-control"})
                                    <div class="form-validate-icons">
                                        @Html.ValidationMessageFor(m=>m.phoneNumber)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="contact-form-group">
                                    @Html.TextBoxFor(m=>m.email,new{@class="form-control"})
                                    <div class="form-validate-icons">
                                        @Html.ValidationMessageFor(m=>m.email)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-12">
                                @Html.AntiForgeryToken()
                                @Html.ReCaptcha()
                            </div>
                            <div class="col-12">
                                <span id="errorMessages" class="text-danger"></span>
                            </div>
                            <div class="col-md-12" style="text-align: end;">
                                <div class="contact-btn-left">
                                    <button type="submit" id="contactBtn" class="primary-btn">
                                        <span class="text">@Localizer["BtnSend"]</span>
                                        <span class="icon"><i class="fa fa-arrow-right"></i></span>
                                    </button>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--// Contact Section End //-->

@section scripts{
<script src="~/js/jquery.validate.min.js"></script>
<script src="~/js/jquery.validate.unobtrusive.min.js"></script>
<script src="~/js/jquery.unobtrusive-ajax.js"></script>
<script src="~/js/sweetalert.min.js"></script>
<script>

    $("#contactForm").submit(function (e) {
        if (!$(this).valid()) {
            return false;
        }
        e.preventDefault(); // avoid to execute the actual submit of the form.

        var form = $(this);
        var url = form.attr('action');
        Begin();
        $.ajax({
            type: "POST",
            url: url,
            data: form.serialize(), // serializes the form's elements.
            success: function (data) {
                Success(data);
            },
            error: function (data) {
                Fialure(data);
            }
        });
    });
    function Begin() {
        $("#Loading-Overlay").show();
    }
    function Success(result) {
        $("#Loading-Overlay").hide();
        let _title = "@Localizer["SendTitle"]";
        let _descr = "@Localizer["SendDescr"]";
        let _btn = "@Localizer["SendOkBtn"]";
        if (!result.success) {
            $('#errorMessages').html('');
            $('#errorMessages').append(result.errors + '<br />');
        } else {
            swal({
                title: _title,
                text: _descr,
                icon: "success",
                button: _btn,
            });
            $("#contactForm").trigger("reset");
        }
    }
    function Fialure(xhr) {
        $('#errorMessages').append("403 : unexpected errors occured" + '<br />')
    }
</script>

}
