<!--// Page Wrapper Start //-->
@using Microsoft.AspNetCore.Mvc.Localization;
@using System.Globalization;
@inject IViewLocalizer Localizer;
@model ProjectsPagination;

@{
    var secBg = Url.Content("~/img/bg/projects-sec-img.png");
    var lang = CultureInfo.CurrentCulture;
}

<div class="page-wrapper" id="wrapper">
    <!--// Main Area Start //-->
    <main class="main-area">
        <!--// Breadcrumb Section Start //-->
        <section class="breadcrumb-section section" data-scroll-index="1" data-bg-image-path="@secBg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">

                    </div>
                </div>
            </div>
        </section>
        <!--// Breadcrumb Section end //-->
        <div id="DetialsPage">
            <div class="div-details">
                <div class="div-header">
                    <a href="~/"><i class="fa fa-home"></i></a>
                    @if (lang.ToString() == "en")
                    {
                        <i class="fa fa-chevron-circle-right"></i>
                    }
                    else
                    {
                        <i class="fa fa-chevron-circle-left"></i>
                    }
                    <p>@Localizer["Projects"]</p>
                </div>
                <div class="div-top-lable">
                    <i class="fa fa-globe"></i>
                    <span>@Localizer["ProjectsList"]</span>
                    <div class="top-left-icon">
                        <a href="https://www.facebook.com/sharer/sharer.php?u=" title='@Localizer["FacebookSharing"]'
                            target="_blank" id="facebook-sharing">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="https://twitter.com/intent/tweet?text=" title='@Localizer["TwitterSharing"]'
                            target="_blank" id="twitter-sharing">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </div>
                </div>
                <div class="page-details">
                    <!--// Resume Section Start //-->
                    <section class="section pb-minus-76">
                        <div class="container">
                            @if (Model != null && Model.Projects != null && Model.Projects.Count()>0)
                            {
                                <div class="row justify-content-center">

                                   @{
                                     var _projects = Model.Projects.ToArray();
                                     for (var index = 0; index < _projects.Count(); index++)
                                     {
                                         var _project = _projects[index];
                                         var intro = _project.Intro.Length > 100 ? _project.Intro.Substring(0, 96) + " ... " : _project.Intro;
                                         <div class="col-lg-4 col-md-6 wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay="0.1s">
                                             <div class="services-item">
                                                 <img src="~/images/projects/@_project.ImgUrl" alt="Services image" class="services-bg-img">
                                                 <div class="body">
                                                     <h4>@(index+1)</h4>
                                                     <h5>@_project.Title</h5>
                                                     <p class="d-block">@intro</p>
                                                     @* <a href="services-detail.html">Read More <i class="fa fa-arrow-right"></i></a> *@
                                                     <a class="btnProjectDetial d-block"
                                                     img-src=@Url.Content("~/images/projects/"+_project.ImgUrl)
                                                     project-label="@_project.Title"
                                                     project-detials="@_project.Descr"
                                                     project-date="@_project.ModifiedDate.ToString("dd/MM/yyyy")"
                                                     >@Localizer["Details"] <i class="fa fa-arrow-right"></i></a>
                                                 </div>
                                                 <div class="icon">
                                                     <span class="fas fa-business-time"></span>
                                                 </div>
                                                 <div class="icon-border"></div>
                                             </div>
                                         </div>
                                     }
                                   }
                                    

                                </div>
                                var start = 0;
                                var end = 0;
                                if (Model.PageTotal > 5)//more than 5 pages
                                {
                                    var _disToEnd = Model.PageTotal - Model.ActivePageIndex;
                                    var _disToStart = Model.ActivePageIndex - 1;
                                    if (_disToStart > 5 && _disToEnd > 5)
                                    {
                                        start = Model.ActivePageIndex - 2;
                                        end = Model.ActivePageIndex + 2;
                                    }
                                    else if (_disToEnd < _disToStart)
                                    {
                                        start = (Model.ActivePageIndex) - (4 - _disToEnd);
                                        end = Model.PageTotal;
                                    }
                                    else
                                    {
                                        start = Model.ActivePageIndex - _disToStart;
                                        end = (Model.ActivePageIndex) + (4 - _disToStart);
                                    }

                                }
                                else//1----5
                                {
                                    start = 1;
                                    end = Model.PageTotal;
                                }
                                <div class="pagination-wrap">
                                    @* prev and first *@
                                    @if (Model.ActivePageIndex > 1)
                                    {
                                        <a href="~/Projects/index?pageIndex=@(Model.ActivePageIndex-2)" class="pagination-link">
                                            <i class="fa fa-arrow-left"></i></a>
                                    }
                                    else
                                    {
                                        <a class="pagination-link">
                                            <i class="fa fa-arrow-left"></i></a>
                                    }
                                    @* between start and end *@
                                    @for (int i = start; i <= end; i++)
                                    {
                                        if (i == Model.ActivePageIndex)
                                        {
                                            <a class="pagination-link active">@i</a>
                                        }
                                        else
                                        {
                                            <a href="~/Projects/index?pageIndex=@(i-1)" class="pagination-link">@i</a>
                                        }
                                    }
                                    @* next *@
                                    @if (Model.ActivePageIndex < Model.PageTotal)
                                    {
                                        <a href="~/Projects/index?pageIndex=@(Model.ActivePageIndex)" class="pagination-link"><i
                                        class="fa fa-arrow-right"></i></a>
                                    }
                                    else
                                    {
                                        <a class="pagination-link"><i class="fa fa-arrow-right"></i></a>
                                    }

                                </div>
                            }
                        </div>
                    </section>
                    <!--// Resume Section End //-->
                </div>
            </div>
        </div>
    </main>
    <!--// Main Area End //-->
</div>
<!--// Page Wrapper End //-->

<div class="modal fade custom-modal" id="projectModal" tabindex="-1" role="dialog" aria-labelledby="projectLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header success">
                <h5 class="modal-title" id="projectLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-popup-inner">
                    <div class="form-body">
                         <img src="" id="projectImg" alt="Services image" class="img-fluid">
                         <p id="projectIntro"></p>
                         <p id="projectDetails"></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <p id="projectDate"></p>
            </div>
        </div>
    </div>
</div>
<!-- Success Modal End -->

@section scripts{
    
<script>
    $(".btnProjectDetial").on('click', function () {
        let _uploadedAt = "@Localizer["UploadedAt"]";
        let imgSrc = $(this).attr('img-src');
        let projectLabel = $(this).attr('project-label');
        let projectDetails = $(this).attr('project-detials');
        let projectDate =_uploadedAt+' : '+ $(this).attr('project-date');
        $("#projectImg").attr('src', imgSrc);
        $("#projectLabel").html(projectLabel);
        $("#projectDetails").html(projectDetails);
        $("#projectDate").html(projectDate);
        $("#projectModal").modal("show");
    });
</script>
}
