<!--// Page Wrapper Start //-->
@using Microsoft.AspNetCore.Mvc.Localization;
@using System.Globalization;
@inject IViewLocalizer Localizer
@model ContactMunVM
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration

@{
    var secBg = Url.Content("~/img/bg/invest-sec-img.png");
    var lang = CultureInfo.CurrentCulture;
}
<div class="page-wrapper" id="wrapper">
    <!--// Main Area Start //-->
    <main class="main-area">
        <!--// Breadcrumb Section Start //-->
        <section class="breadcrumb-section section" data-scroll-index="1" data-bg-image-path="@secBg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">

                    </div>
                </div>
            </div>
        </section>
        <!--// Breadcrumb Section end //-->
        <div id="DetialsPage">
            <div class="div-details">
                <div class="div-header">
                    <a href="~/"><i class="fa fa-home"></i></a>
                    @if (lang.ToString() == "en")
                    {
                        <i class="fa fa-chevron-circle-right"></i>
                    }
                    else
                    {
                        <i class="fa fa-chevron-circle-left"></i>
                    }
                    <p>@Localizer["Invest"]</p>
                </div>
                <div class="div-top-lable">
                    <i class="fa fa-business-time"></i>
                    <span>@Localizer["AmanaInvest"]</span>
                    <div class="top-left-icon">
                        <a href="https://www.facebook.com/sharer/sharer.php?u=" title='@Localizer["FacebookSharing"]'
                            target="_blank" id="facebook-sharing">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="https://twitter.com/intent/tweet?text=" title='@Localizer["TwitterSharing"]'
                            target="_blank" id="twitter-sharing">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </div>
                </div>
                <div class="page-details">
                    <!--// Resume Section Start //-->
                    <section class="section pb-minus-76">
                        <div class="container">

                            <div class="row mt-3">
                                <div class="col-lg-6">
                                    <div class="contact-info-item">
                                        <div class="icon">
                                            <span class="fa fa-chart-line"></span>
                                        </div>
                                        <div class="body">
                                            <br>
                                            <p>
                                                <a href="https://services.amana-md.gov.sa/Home/GetServiceType/2#cat10" 
                                                target="_blank">@Localizer["BusinessServices"]</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="contact-info-item">
                                        <div class="icon">
                                            <span class="fas fa-users"></span>
                                        </div>
                                         <div class="body">
                                            <br>
                                            <p> 
                                                 <a href="https://services.amana-md.gov.sa/Home/GetServiceType/1#cat10" 
                                                                    target="_blank">@Localizer["IndividualsServices"]</a>
                                            </p>
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center mt-5">
                                <div class="col-lg-6">
                                    <div class="section-heading">
                                        <h2>@Localizer["ContactInvest"]</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-lg-12">
                                    <div class="contact-form-wrap">
                                         @using (Html.BeginForm("ContactInvest", "InvestmentCenter", FormMethod.Post))
                                         {
                                             <section class="section" id="contact" data-scroll-index="7">
                                             <div class="container">
                                           
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="text-danger">
                                                        @Html.ValidationSummary(true, "")
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row justify-content-center">
                                                <div class="col-lg-12">
                                                    <div class="contact-form-wrap">
                                                       
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="contact-form-group custom-select-wrapper">
                                                                        <select data-val-re name="contactReason"
                                                                        class="form-control" id="contactReason">
                                                                            <option value=''>@Localizer["Issue"]</option>
                                                                            <option value='إقتراح'>@Localizer["Suggest"]
                                                                            </option>
                                                                            <option value='شكوى'>@Localizer["Compl"]
                                                                            </option>
                                                                            <option value='أخرى'>@Localizer["Other"]
                                                                            </option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="text-danger">
                                                                        <span id="contactReasonError"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <div class="contact-form-group">
                                                                        @Html.TextAreaFor(m=>m.message,8,20,new{@class="form-control"})
                                                                        <div class="text-danger">
                                                                            @Html.ValidationMessageFor(m=>m.message)
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <hr>
                                                                    <p>@Localizer["ContactInfo"]</p>
                                                                    <hr>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="contact-form-group">
                                                                        @Html.TextBoxFor(m=>m.name,new{@class="form-control"})
                                                                        <div class="text-danger">
                                                                            @Html.ValidationMessageFor(m=>m.name)
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="contact-form-group">
                                                                        @Html.TextBoxFor(m=>m.phoneNumber,new{@class="form-control"})
                                                                        <div class="text-danger">
                                                                            @Html.ValidationMessageFor(m=>m.phoneNumber)
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="contact-form-group">
                                                                        @Html.TextBoxFor(m=>m.email,new{@class="form-control"})
                                                                        <div class="text-danger">
                                                                            @Html.ValidationMessageFor(m=>m.email)
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group col-12">
                                                                    @Html.AntiForgeryToken()
                                                                    @* @Html.ReCaptcha() *@
                                                                    <input type="hidden" name="captcha" id="captchaInput" />
                                                                </div>
                                                                <div class="col-md-12" style="text-align: end;">
                                                                    <div class="contact-btn-left">
                                                                        <button type="submit" id="contactBtn"
                                                                        class="primary-btn">
                                                                            <span class="text">@Localizer["BtnSend"]</span>
                                                                            <span class="icon"><i
                                                                                class="fa fa-arrow-right"></i></span>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                    </div>
                                                </div>
                                            </div>
                                             </div>
                                             </section>
                                }
                                           
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!--// Resume Section End //-->
                </div>
            </div>
        </div>



    </main>
    <!--// Main Area End //-->
</div>
<!--// Page Wrapper End //-->
@section scripts{
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/ar_AR/sdk.js#xfbml=1&version=v11.0"
    nonce="AE6s4pVJ"></script>

<script src="~/js/jquery.validate.min.js"></script>
<script src="~/js/jquery.validate.unobtrusive.min.js"></script>
<script src="https://www.google.com/recaptcha/api.js?render=@Configuration["googleReCaptcha:SiteKey"]"></script>
<script>
    grecaptcha.ready(function () {
        window.grecaptcha.execute('@Configuration["googleReCaptcha:SiteKey"]', { action: 'home' }).then(function (token) {
            $("#captchaInput").val(token);
        });
    });
</script>
}