@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer
@model IEnumerable<Project>
<!--// Services Section Start //-->
<section class="section pb-minus-70 bg-primary-light" id="ProjectSection" data-scroll-index="2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-heading">
                    <h2>@Localizer["Projects"]</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @{
                var _projects = Model.ToArray();
                for (var index = 0; index < _projects.Count(); index++)
                {
                    var _project = _projects[index];
                    var intro = _project.Intro.Length > 100 ? _project.Intro.Substring(0, 96) + " ... " : _project.Intro;
                    <div class="col-lg-4 col-md-6 wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay="0.1s">
                        <div class="services-item">
                            <img src="~/images/projects/@_project.ImgUrl" alt="Services image" class="services-bg-img">
                            <div class="body">
                                <h4>@(index+1)</h4>
                                <h5>@_project.Title</h5>
                                <p>@intro</p>
                                @* <a href="services-detail.html">Read More <i class="fa fa-arrow-right"></i></a> *@
                                <a href="#" class="btnProjectDetial"
                                img-src=@Url.Content("~/images/projects/"+_project.ImgUrl)
                                project-label="@_project.Title"
                                project-detials="@_project.Descr"
                                project-date="@_project.ModifiedDate.ToString("dd/MM/yyyy")"
                                >@Localizer["Details"] <i class="fa fa-arrow-right"></i></a>
                            </div>
                            <div class="icon">
                                <span class="fas fa-business-time"></span>
                            </div>
                            <div class="icon-border"></div>
                        </div>
                    </div>
                }
            }
           <div class="col-12">
                <div class="row justify-content-end">
                    <a href="~/projects/index?pageIndex=0" class="primary-btn">
                                    <span class="text">@Localizer["AllProjects"]</span>
                                    <span class="icon"><i class="fa fa-business-time"></i></span>
                                </a>
            </div>
           </div>
        </div>
    </div>
</section>
<!--// Services Section End //-->

<!--// Page Wrapper End //-->

<div class="modal fade custom-modal" id="projectModal" tabindex="-1" role="dialog" aria-labelledby="projectLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header success">
                <h5 class="modal-title" id="projectLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-popup-inner">
                    <div class="form-body">
                         <img src="" id="projectImg" alt="Services image" class="img-fluid">
                         <p id="projectIntro"></p>
                         <p id="projectDetails"></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <p id="projectDate"></p>
            </div>
        </div>
    </div>
</div>
<!-- Success Modal End -->
