<!--// About Section Start //-->
@using Microsoft.AspNetCore.Mvc.Localization;
@using System.Globalization
@inject IViewLocalizer Localizer 
@model AmanaSite.Models.Video
@{
    var lang = CultureInfo.CurrentCulture;
    var bg = lang.ToString() == "en"?"defined-video-bg-left":"defined-video-bg";
}
<section class="section @bg" id="about" data-scroll-index="1">
    <div class="container">
        @if (Model != null)
        {
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-img wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.2s">
                        <img src="~/images/videos/@Model.ImgUrl" alt="@Model.Title" title="video shot" class="img-fluid">
                        <a class="about-video-btn" href="@Model.Link"><i class="fa fa-play"></i></a>
                        <div class="video-border-line"></div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-inner wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.1s">
                        <h2>@Localizer["LastUpdate"]</h2>

                        <p class="text-justify">
                            @Localizer["VideoIntro"]
                        </p>
                        <h5 class="mb-5">@Model.Title</h5>

                        <div class="defined-font-family">
                            @Html.Raw(Model.Descr)
                        </div>
                        @* <div class="col-lg-12 text-left mt-2">
                            <a href="@Model.Link" target="_blank" class="primary-btn">
                                <span class="text">@Localizer["Details"]</span>
                                <span class="icon"><i class="far fa-caret-square-left"></i></span>
                            </a>
                        </div> *@

                    </div>
                </div>
            </div>
        }
</section>
<!--// About Section End //-->