@using Microsoft.AspNetCore.Mvc.Localization;
@using System.Globalization;
@inject IViewLocalizer Localizer
@{
    var lang = CultureInfo.CurrentCulture;
}
<!DOCTYPE html>
<html lang="@lang">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Fawaz Almogadem">
    <meta name="robots" content="index,follow">
    <meta name="publisher" content="Fawaz Almogadem">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content='@Localizer["AmanaTitle"]'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Localizer["AmanaTitle"]</title>
    <link rel="shortcut icon" href="~/img/bg/favicon.ico" type="image/x-icon">
    <!--// Boostrap v5 //-->
    <link rel="stylesheet" href="~/vendor/css/bootstrap.min.css">
    <!--// Magnific Popup //-->
    <link rel="stylesheet" href="~/vendor/css/magnific.popup.min.css">
    <!--// Animate Css //-->
    <link rel="stylesheet" href="~/vendor/css/animate.min.css">
    <!--// Owl Carousel //-->
    <link rel="stylesheet" href="~/vendor/css/owl.carousel.min.css">
    <!--// Owl Carousel Default //-->
    <link rel="stylesheet" href="~/vendor/css/owl.carousel.default.min.css">
    <!--// Font Awesome //-->
    <link rel="stylesheet" href="~/fonts/font_awesome/css/all.css">
    <!--// Flat Icons //-->
    <link rel="stylesheet" href="~/fonts/flat_icons/flaticon.css">
    <!--// Theme Main Css //-->
    <link rel="stylesheet" href="~/css/style.css">
    <!--// Theme Color Css //-->
    <link rel="stylesheet" href="~/css/skins/default-color.css" id="theme-color-toggle" />
    <link rel="stylesheet" href="~/css/defined.css" />
    @if (lang.ToString() == "en")
    {
        <link rel="stylesheet" href="~/css/en-navigation.css" />
    }
    else
    {
        <link rel="stylesheet" href="~/css/navigation.css" />
    }
    @RenderSection("styles", required: false)
    <!-- custom -->
    @* <link rel="stylesheet" href="~/css/quill.core.css" /> *@
</head>

<body data-spy="scroll" data-target="#fixedNavbar">

    <!--// Page Wrapper Start //-->
    <div class="page-wrapper" id="wrapper">

        <!--// Header Start //-->
        @{
            await Html.RenderPartialAsync("_MenuPartial");
        }
        <!--// Header End  //-->
        <!--// Main Area Start //-->
        <main class="main-area">
            @RenderBody()
            <!--// Footer Start //-->
            <footer class="footer">
                <div class="footer-top">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-lg-6 footer-widget-resp">
                                <div class="footer-widget">
                                    <h6 class="footer-title">@Localizer["MunHashTag"]</h6>
                                    <a href="https://www.vision2030.gov.sa/ar/" target="_blank">
                                        <img src="~/img/bg/2030.png" alt="footer logo"
                                            class="img-fluid footer-logo"></a>
                                    <p class="footer-desc">
                                        @Localizer["AmanaVision"]
                                    </p>
                                    <div class="footer-social-links">
                                        <a href="https://www.facebook.com/AmanaAlmadinah" target="_blank">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                        <a href="https://www.twitter.com/amanaalmadinah" target="_blank">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                        <a href="https://instagram.com/amana.almadinah" target="_blank">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                        <a href="https://www.youtube.com/AmanaAlmadinah" target="_blank">
                                            <i class="fab fa-youtube"></i>
                                        </a>
                                        <a href="https://www.flickr.com/photos/68384851@N05/" target="_blank">
                                            <i class="fab fa-flickr"></i>
                                        </a>
                                        <a href="https://www.snapchat.com/add/aamana-almadina" target="_blank">
                                            <i class="fab fa-snapchat"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-2 footer-widget-resp">
                                <div class="footer-widget footer-widget-pl">
                                    <h6 class="footer-title">@Localizer["ImportantLinks"]</h6>
                                    <ul class="footer-links">
                                        <li>
                                            <a href="~/home/docs">@Localizer["SysDocs"]</a>
                                        </li>
                                        <li>
                                            <a href="https://www.momra.gov.sa/" target="_blank">@Localizer["Momra"]</a>
                                        </li>
                                        <li>
                                            <a href="jhttps://www.my.gov.sa/wps/portal/snp/main/!ut/p/z1/04_Sj9CPykssy0xPLMnMz0vMAfIjo8zivQIsTAwdDQz9_d29TAwCnQ1DjUy9wgwM3M30w_Wj9KNQlBibOgGV-Jr7OwaHGRoYmEIVGOAAjgb6BdnZgQDi4Jpl/dz/d5/L0lDUmlTUSEhL3dHa0FKRnNBLzROV3FpQSEhL2Fy/"
                                                target="_blank">
                                                @Localizer["GOVSA"]
                                            </a>
                                        </li>
                                        <li>
                                            <a href="~/home/opendata">@Localizer["OpenData"]</a>
                                        </li>
                                        <li>
                                            <a href="https://services.amana-md.gov.sa/AmanaServices/ServiceCat/Get?Id=77&&TypeId=1&&TypeName=%D8%AE%D8%AF%D9%85%D8%A7%D8%AA%20%D8%A7%D9%84%D8%A3%D9%81%D8%B1%D8%A7%D8%AF"
                                                target="_blank">@Localizer["OpSearch"]</a>
                                        </li>
                                        <li>
                                            <a href="https://www.momra.gov.sa/ar/regulations">@Localizer["SAR"]</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 footer-widget-resp">
                                <div class="footer-widget">
                                    <h6 class="footer-title">@Localizer["ContactUs"]</h6>
                                    <div class="footer-contact-info-wrap">
                                        <ul class="footer-contact-info-list">
                                            <li>
                                                <h6>@Localizer["Address"]:</h6>
                                                <p>
                                                    @Localizer["Address1"] <br>
                                                    @Localizer["Address2"] <br>
                                                    @Localizer["Address3"]
                                                </p>
                                            </li>
                                            <li>
                                                <h6>@Localizer["EmailAndPhone"]</h6>
                                                <div class="text">
                                                    <p>8227400</p>
                                                    <p>Info@Amana-md.gov.sa</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copyright">
                    <div class="container">
                        <p class="copyright-text">@Localizer["CopyRight"] - @DateTime.Now.Year
                        </p>
                    </div>
                </div>
            </footer>
            <!--// Footer End //-->
        </main>
        <!--// Main Area End //-->

        <a href="#" class="scroll-top-btn" data-scroll-goto="1">
            <i class="fa fa-arrow-up"></i>
        </a>
        <!--// .scroll-top-btn // -->

        <div id="preloader-wrap">
            <div class="preloader-inner">
                <div class="lds-roller">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
        <!--// Preloader // -->

    </div>
    <!--// Page Wrapper End //-->



    <!--// JQuery //-->
    <script src="~/vendor/js/jquery.min.js"></script>
    <!--// Popper //-->
    <script src="~/vendor/js/popper.min.js"></script>
    <!--// Bootstrap //-->
    <script src="~/vendor/js/bootstrap.min.js"></script>
    <!--// Images Loaded Js //-->
    <script src="~/vendor/js/images.loaded.min.js"></script>
    <!--// Wow Js //-->
    <script src="~/vendor/js/wow.min.js"></script>
    <!--// Magnific Popup //-->
    <script src="~/vendor/js/magnific.popup.min.js"></script>
    <!--// Waypoint Js //-->
    <script src="~/vendor/js/waypoint.min.js"></script>
    <!--// Counter Up Js //-->
    <script src="~/vendor/js/counter.up.min.js"></script>
    <!--// JQuery Easing Functions //-->
    <script src="~/vendor/js/jquery.easing.min.js"></script>
    <!--// Owl Carousel //-->
    <script src="~/vendor/js/owl.carousel.min.js"></script>
    <!--// Form Validate //-->
    <script src="~/vendor/js/validate.min.js"></script>
    <!--// Form Validate //-->
    <script src="~/vendor/js/custom.select.plugin.js"></script>
    <!--// Scroll It //-->
    <script src="~/vendor/js/scrollit.min.js"></script>
    <!--// Isotope Js //-->
    <script src="~/vendor/js/isotope.min.js"></script>
    <!--// Particles Js //-->
    <script src="~/vendor/js/particles.js"></script>
    <!--// Main Js //-->
    <script src="~/js/main.js"></script>
    <script src="~/js/chating.js"></script>
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            let langCode = '@lang';
            if (langCode == "en") {
                $('body').removeClass("rtl-mode").addClass("ltr-mode");
            } else {
                $('body').removeClass("ltr-mode").addClass("rtl-mode");
            }

            //socail media sharing:
              var currentLocation = window.location.href;
                var link = $("#facebook-sharing"); // store the element
                if (link !==null) {
                    var curHref = link.attr('href'); // get its current href value
                    link.attr('href', curHref + currentLocation);
                }

                var link = $("#twitter-sharing"); // store the element
                if (link !== null) {
                    var curHref = link.attr('href'); // get its current href value
                    link.attr('href', curHref + currentLocation);
                }
        });
    </script>

</body>

</html>