@using Microsoft.AspNetCore.Mvc.Localization;
@using System.Globalization
@inject IViewLocalizer Localizer
@{
    var lang = CultureInfo.CurrentCulture;
    var ParentControllerName = ViewContext.RouteData.Values["controller"].ToString().ToUpper();
    var ParentActionName = ViewContext.RouteData.Values["action"].ToString().ToUpper();
}
@if (ParentControllerName == "HOME" && (ParentActionName == "INDEX" ||ParentActionName == "SUCCESS"))
{
    <header class="header fixed-top" id="header">
        <div id="nav-menu-wrap">
            <div class="container">
                <nav class="navbar navbar-expand-lg p-0">
                    <a class="navbar-brand" title="Home" href="~/">
                        @if (lang.ToString() != "en")
                        {
                            <img src="~/img/bg/logo_white.png" alt="Logo White" class="img-fluid logo-transparent">
                            <img src="~/img/bg/logo_black.png" alt="Logo Black" class="img-fluid logo-normal">
                        }
                        else
                        {
                            <img src="~/img/bg/logo_white_left.png" alt="Logo White" class="logo-transparent">
                            <img src="~/img/bg/logo_black-left.png" alt="Logo Black" class="logo-normal">

                        }
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#fixedNavbar"
                    aria-controls="fixedNavbar" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="togler-icon-inner">
                            <span class="line-1"></span>
                            <span class="line-2"></span>
                            <span class="line-3"></span>
                        </span>
                    </button>
                    <div class="collapse navbar-collapse main-menu justify-content-end" id="fixedNavbar">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="amanaDropdownMenu" data-scroll-nav="1"
                                role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @Localizer["Muntitle"]
                                </a>
                                <div class="dropdown-menu" aria-labelledby="blogDropdownMenu">
                                    <a class="dropdown-item"
                                    href="~/baladyat/index/@BaladyaType.Sub">@Localizer["SubMuns"]</a>
                                    <a class="dropdown-item"
                                    href="~/baladyat/index/@BaladyaType.Provinces">@Localizer["LocalMuns"]</a>
                                    <a class="dropdown-item"
                                    href="~/baladyat/index/@BaladyaType.Suburban">@Localizer["SuburbanBaladyat"]</a>
                                    <a class="dropdown-item" href="~/home/structure">@Localizer["Structure"]</a>
                                    <a class="dropdown-item" href="~/Survey/Index">@Localizer["SurveyTitle"]</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="BusinessArea" role="button" 
                                data-toggle="dropdown" aria-haspopup="true" data-scroll-nav="2" aria-expanded="false">
                                    @Localizer["BusinessArea"]
                                </a>
                                <div class="dropdown-menu" aria-labelledby="BusinessArea">
                                    <a class="dropdown-item" href="#" data-scroll-nav="2">@Localizer["ProjectsTitle"]</a>
                                    <a class="dropdown-item" href="~/investmentcenter/index">@Localizer["InvestTitle"]</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link menu-link" href="#" data-scroll-nav="3">@Localizer["Completions"]</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="mediaCenter" data-scroll-nav="4"
                                role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @Localizer["MediaCenter"]
                                </a>
                                <div class="dropdown-menu" aria-labelledby="mediaCenter">
                                    <a class="dropdown-item" href="#" data-scroll-nav="4">@Localizer["NewsTitle"]</a>
                                    <a class="dropdown-item" href="#" data-scroll-nav="5">@Localizer["Media"]</a>
                                    <a class="dropdown-item" href="#" data-scroll-nav="6">@Localizer["Info"]</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="connectWithUs" data-scroll-nav="7"
                                role="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">@Localizer["ContactWithUs"]</a>
                                <div class="dropdown-menu" aria-labelledby="connectWithUs">
                                    <a class="dropdown-item" href="#" data-scroll-nav="7">@Localizer["ContactMun"]</a>
                                    <a class="dropdown-item" href="~/contactus/ContactMayor">@Localizer["ContactAmeen"]</a>
                                    <a class="dropdown-item" target="_blank"
                                    href="http://balady940.momra.gov.sa/momra">@Localizer["System940"]</a>
                                </div>
                            </li>
                            <li class="nav-item navbar-btn-resp d-flex align-items-center mr-2 ml-2">
                                <a href="https://services.amana-md.gov.sa/" target="_blank" class="primary-btn">
                                    <span class="text">@Localizer["EServices"]</span>
                                    <span class="icon"><i class="fa fa-arrow-right"></i></span>
                                </a>
                            </li>
                            <li class="nav-item dropdown d-lg-none d-xl-list-item">
                                <a class="nav-link dropdown-toggle" href="#" id="langSelect" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@Localizer["Lang"]</a>
                                <div class="dropdown-menu" aria-labelledby="langSelect">
                                    @{
                                        if (lang.ToString() != "ar")
                                        {
                                            using (Html.BeginForm("setlang", "Home", FormMethod.Post))
                                            {
                                                <input name="culture" type="hidden" value="ar">
                                                <input name="returnUrl" type="hidden" value="@Context.Request.Path">
                                                @Html.AntiForgeryToken()
                                                <button type="submit" class="dropdown-item" data-lang="ar">العربية</button>
                                            }
                                        }
                                        if (lang.ToString() != "en")
                                        {
                                            @using (Html.BeginForm("setlang", "Home", FormMethod.Post))
                                            {
                                                <input name="culture" type="hidden" value="en">
                                                <input name="returnUrl" type="hidden" value="@Context.Request.Path">
                                                @Html.AntiForgeryToken()
                                                <button type="submit" class="dropdown-item" data-lang="ar">English</button>
                                            }
                                        }
                                        if (lang.ToString() != "ur")
                                        {
                                            @using (Html.BeginForm("setlang", "Home", FormMethod.Post))
                                            {
                                                <input name="culture" type="hidden" value="ur">
                                                <input name="returnUrl" type="hidden" value="@Context.Request.Path">
                                                @Html.AntiForgeryToken()
                                                <button type="submit" class="dropdown-item">اردو</button>
                                            }
                                        }
                                    }

                                </div>
                            </li>
                            <li class="nav-item dropdown d-none d-lg-flex align-items-center mr-2 ml-2">

                                <button type="button" id="langSelect" class="primary-btn">
                                    <span class="icon"><i class="fa fa-globe fa-pulse"></i></span>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="langSelect">
                                    @{
                                        if (lang.ToString() != "ar")
                                        {
                                            using (Html.BeginForm("setlang", "Home", FormMethod.Post))
                                            {
                                                <input name="culture" type="hidden" value="ar">
                                                <input name="returnUrl" type="hidden" value="@Context.Request.Path">
                                                @Html.AntiForgeryToken()
                                                <button type="submit" class="dropdown-item" data-lang="ar">العربية</button>
                                            }
                                        }
                                        if (lang.ToString() != "en")
                                        {
                                            @using (Html.BeginForm("setlang", "Home", FormMethod.Post))
                                            {
                                                <input name="culture" type="hidden" value="en">
                                                <input name="returnUrl" type="hidden" value="@Context.Request.Path">
                                                @Html.AntiForgeryToken()
                                                <button type="submit" class="dropdown-item" data-lang="ar">English</button>
                                            }
                                        }
                                        if (lang.ToString() != "ur")
                                        {
                                            @using (Html.BeginForm("setlang", "Home", FormMethod.Post))
                                            {
                                                <input name="culture" type="hidden" value="ur">
                                                <input name="returnUrl" type="hidden" value="@Context.Request.Path">
                                                @Html.AntiForgeryToken()
                                                <button type="submit" class="dropdown-item">اردو</button>
                                            }
                                        }
                                    }
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>
}
else
{
    <header class="header fixed-top" id="header">
        <div id="nav-menu-wrap">
            <div class="container">
                <nav class="navbar navbar-expand-lg p-0">
                    <a class="navbar-brand" title="Home" href="~/">
                        @if (lang.ToString() != "en")
                        {
                            <img src="~/img/bg/logo_white.png" alt="Logo White" class="img-fluid logo-transparent">
                            <img src="~/img/bg/logo_black.png" alt="Logo Black" class="img-fluid logo-normal">
                        }
                        else
                        {
                            <img src="~/img/bg/logo_white_left.png" alt="Logo White" class="logo-transparent">
                            <img src="~/img/bg/logo_black-left.png" alt="Logo Black" class="logo-normal">

                        }
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#fixedNavbar"
                    aria-controls="fixedNavbar" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="togler-icon-inner">
                            <span class="line-1"></span>
                            <span class="line-2"></span>
                            <span class="line-3"></span>
                        </span>
                    </button>
                    <div class="collapse navbar-collapse main-menu justify-content-end" id="fixedNavbar">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="amanaDropdownMenu" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @Localizer["Muntitle"]
                                </a>
                                <div class="dropdown-menu" aria-labelledby="blogDropdownMenu">
                                    <a class="dropdown-item"
                                    href="~/baladyat/index/@BaladyaType.Sub">@Localizer["SubMuns"]</a>
                                    <a class="dropdown-item"
                                    href="~/baladyat/index/@BaladyaType.Provinces">@Localizer["LocalMuns"]</a>
                                    <a class="dropdown-item"
                                    href="~/baladyat/index/@BaladyaType.Suburban">@Localizer["SuburbanBaladyat"]</a>
                                    <a class="dropdown-item" href="~/home/structure">@Localizer["Structure"]</a>
                                    <a class="dropdown-item" href="~/Survey/Index">@Localizer["SurveyTitle"]</a>
                                </div>
                            </li>
                            <li class="nav-item">

                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="~/home/index#ProjectSection" id="BusinessArea"
                                role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @Localizer["BusinessArea"]
                                </a>
                                <div class="dropdown-menu" aria-labelledby="BusinessArea">
                                    <a class="dropdown-item"
                                    href="~/home/index#ProjectSection">@Localizer["ProjectsTitle"]</a>
                                    <a class="dropdown-item" href="~/investmentcenter/index">@Localizer["InvestTitle"]</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link menu-link" href="~/home/index#counters">@Localizer["Completions"]</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="~/home/index#NewsSection" id="mediaCenter"
                                role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @Localizer["MediaCenter"]
                                </a>
                                <div class="dropdown-menu" aria-labelledby="mediaCenter">
                                    <a class="dropdown-item" href="~/home/index#NewsSection">@Localizer["NewsTitle"]</a>
                                    <a class="dropdown-item" href="~/home/index#MediaSection">@Localizer["Media"]</a>
                                    <a class="dropdown-item" href="~/home/index#porfolio">@Localizer["Info"]</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="~/home/index#contact" id="connectWithUs"
                                role="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">@Localizer["ContactWithUs"]</a>
                                <div class="dropdown-menu" aria-labelledby="connectWithUs">
                                    <a class="dropdown-item" href="~/home/index#contact">@Localizer["ContactMun"]</a>
                                    <a class="dropdown-item" href="~/Contactus/ContactMayor">@Localizer["ContactAmeen"]</a>
                                    <a class="dropdown-item" target="_blank"
                                    href="http://balady940.momra.gov.sa/momra">@Localizer["System940"]</a>
                                </div>
                            </li>
                            <li class="nav-item navbar-btn-resp d-flex align-items-center mr-2 ml-2">
                                <a href="https://services.amana-md.gov.sa/" target="_blank" class="primary-btn">
                                    <span class="text">@Localizer["EServices"]</span>
                                    <span class="icon"><i class="fa fa-arrow-right"></i></span>
                                </a>
                            </li>
                            <li class="nav-item dropdown d-lg-none d-xl-list-item">
                                <a class="nav-link dropdown-toggle" href="#" id="langSelect" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@Localizer["Lang"]</a>
                                <div class="dropdown-menu" aria-labelledby="langSelect">
                                    @{
                                        if (lang.ToString() != "ar")
                                        {
                                            using (Html.BeginForm("setlang", "Home", FormMethod.Post))
                                            {
                                                <input name="culture" type="hidden" value="ar">
                                                <input name="returnUrl" type="hidden" value="@Context.Request.Path">
                                                @Html.AntiForgeryToken()
                                                <button type="submit" class="dropdown-item" data-lang="ar">العربية</button>
                                            }
                                        }
                                        if (lang.ToString() != "en")
                                        {
                                            @using (Html.BeginForm("setlang", "Home", FormMethod.Post))
                                            {
                                                <input name="culture" type="hidden" value="en">
                                                <input name="returnUrl" type="hidden" value="@Context.Request.Path">
                                                @Html.AntiForgeryToken()
                                                <button type="submit" class="dropdown-item" data-lang="ar">English</button>
                                            }
                                        }
                                        if (lang.ToString() != "ur")
                                        {
                                            @using (Html.BeginForm("setlang", "Home", FormMethod.Post))
                                            {
                                                <input name="culture" type="hidden" value="ur">
                                                <input name="returnUrl" type="hidden" value="@Context.Request.Path">
                                                @Html.AntiForgeryToken()
                                                <button type="submit" class="dropdown-item">اردو</button>
                                            }
                                        }
                                    }

                                </div>
                            </li>
                            <li class="nav-item dropdown d-none d-lg-flex align-items-center mr-2 ml-2">

                                <button type="button" id="langSelect" class="primary-btn">
                                    <span class="icon"><i class="fa fa-globe fa-pulse"></i></span>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="langSelect">
                                    @{
                                        if (lang.ToString() != "ar")
                                        {
                                            using (Html.BeginForm("setlang", "Home", FormMethod.Post))
                                            {
                                                <input name="culture" type="hidden" value="ar">
                                                <input name="returnUrl" type="hidden" value="@Context.Request.Path">
                                                @Html.AntiForgeryToken()
                                                <button type="submit" class="dropdown-item" data-lang="ar">العربية</button>
                                            }
                                        }
                                        if (lang.ToString() != "en")
                                        {
                                            @using (Html.BeginForm("setlang", "Home", FormMethod.Post))
                                            {
                                                <input name="culture" type="hidden" value="en">
                                                <input name="returnUrl" type="hidden" value="@Context.Request.Path">
                                                @Html.AntiForgeryToken()
                                                <button type="submit" class="dropdown-item" data-lang="ar">English</button>
                                            }
                                        }
                                        if (lang.ToString() != "ur")
                                        {
                                            @using (Html.BeginForm("setlang", "Home", FormMethod.Post))
                                            {
                                                <input name="culture" type="hidden" value="ur">
                                                <input name="returnUrl" type="hidden" value="@Context.Request.Path">
                                                @Html.AntiForgeryToken()
                                                <button type="submit" class="dropdown-item">اردو</button>
                                            }
                                        }
                                    }
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>
}